* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background: lightgreen;
}

.memory-game {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 675px;
    height: 675px;
    border: 2px solid aquamarine;
    perspective: 1000px;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    margin: 5px;
    border: 2px solid aqua;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.memory-card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face, .back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border: 2px solid yellowgreen;
    background: gray;
    /*backface-visibility: hidden;*/
}

.back-face {
    transform: rotateY(180deg);
}

#infoSquareFind {
    position: absolute;
    top: 20%;
    padding: 5px;
    margin: 5px;
    width: 15%;
    height: 30px;
    background-color: white;
}

.squareFind {
    position: absolute;
    top: 17%;
    padding: 5px;
    margin: 5px;
}

.time {
    position: absolute;
    top: 25%;
    padding: 5px;
    margin: 5px;
}

.scores {
    position: absolute;
    top: 32%;
    padding: 5px;
    margin: 5px;
}

#bestScores {
    position: absolute;
    top: 36%;
    padding: 5px;
    margin: 5px;
    width: 15%;
    height: 30px;
    background-color: white;
}

#timeToGame {
    position: absolute;
    top: 28%;
    padding: 5px;
    margin: 5px;
    width: 15%;
    height: 30px;
    background-color: white;
}

#refresh {
    position: absolute;
    bottom: 2px;
    right: 50%;
    padding: 10px;
}

#close {
    position: absolute;
    bottom: 2px;
    right: 45%;
    padding: 10px;
}